<h1>{{book.title}}</h1><small> by {{book.author}}</small>
<div>
	{{book.description}}
</div>
<div>
	{{#link-to 'books.edit' book class="btn btn-success"}}Edit Book {{/link-to}}
	<a href="" class="btn btn-danger" {{action "deleteBook"}}> Delete book</a>	
</div>