<row>
	<div class="col-sm-4">
		{{#link-to 'books.new' class='btn btn-primary btn-block '}}Add a new book {{/link-to}}
		{{books-list books=books}}
	</div>
	<div class="col-sm-8">
		{{outlet}}
	</div>
</row>